.field{
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border: 5px solid black;
    background-color: lightblue;
   /* display: flex;
    flex-wrap: wrap;*/
    position: relative;
}

.cell{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    color: black;
    border-radius: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s linear;
}

body{
    background-image: url("img/bg.png");
    background-size: 100%;
}

.a1{
    background-image: url("img/images/pic_01.png");
    background-size: 100px;
}
.a2{
    background-image: url("img/images/pic_02.gif");
    background-size: 100px;
}
.a3{
    background-image: url("img/images/pic_03.gif");
    background-size: 100px;
}
.a4{
    background-image: url("img/images/pic_04.gif");
    background-size: 100px;
}
.a5{
    background-image: url("img/images/pic_05.gif");
    background-size: 100px;
}
.a6{
    background-image: url("img/images/pic_06.gif");
    background-size: 100px;
}
.a7{
    background-image: url("img/images/pic_07.gif");
    background-size: 100px;
}
.a8{
    background-image: url("img/images/pic_08.gif");
    background-size: 100px;
}
.a9{
    background-image: url("img/images/pic_09.gif");
    background-size: 100px;
}
.a10{
    background-image: url("img/images/pic_10.gif");
    background-size: 100px;
}
.a11{
    background-image: url("img/images/pic_11.gif");
    background-size: 100px;
}
.a12{
    background-image: url("img/images/pic_12.gif");
    background-size: 100px;
}
.a13{
    background-image: url("img/images/pic_13.gif");
    background-size: 100px;
}
.a14{
    background-image: url("img/images/pic_14.gif");
    background-size: 100px;
}
.a15{
    background-image: url("img/images/pic_15.gif");
    background-size: 100px;
}